<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movie.moviesite.mapper.MoviesRecommendForAllUsersMapper" >

    <resultMap id="BaseResultMap" type="com.movie.moviesite.entity.MoviesRecommendForAllUsers" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="movie_ids" property="movieIds" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT user_id,movie_ids FROM moviesRecommendForAllUsers
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

</mapper>