<div style="margin-left: 5px">
    <p></p><p></p><p></p>
    <p>
        <font size="5" face="宋体" color="#6b9cde"><strong>发现好电影网站信息管理系统</strong></font>
    </p>
    <p>
        <font size="4" face="宋体">功能:</font>
    </p>
    <p>
        <font size="4" face="宋体">对电影数据信息进行管理，包括增删该查、排序以及批量导入导出电影数据</font>
    </p>
    <p>
        <font size="4" face="宋体">对电影网站注册用户信息进行管理，包括查询用户、更新用户信息、批量删除用户、修改用户的登录权限以及导出用户数据</font>
    </p>
    <p>
        <font size="4" face="宋体">查看电影历史热度榜信息、查看用户收藏电影信息、用户评论信息、为用户推荐的电影等</font>
    </p>
    <p>
        <font size="4" face="宋体">发现好电影网站主页 : </font>&nbsp;<a target="_blank" href="http://localhost:8080/index" style="display:inline-block;color: #6b9cde"><font size="4" face="宋体">进入电影网站主页</font></a>
    </p>
</div>