<link rel="stylesheet" type="text/css" href="easyui/themes/metro/easyui.css"/>
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="js/movieReview.js"></script>

<body>
<table id="dg" class="easyui-datagrid" data-options="fitColumns:true,scrollbarSize:0" pageSize="5" pageList="[5, 10, 15,20]" pagination="true" rownumbers="true" url="/getMovieReviews" fit="true" toolbar="#tb">
    <thead>
        <tr>
            <!--<th field="cb" checkbox="true" align="center"></th>-->
            <th field="userName" width="auto" formatter="formatterUserName" align="center">用户名</th>
            <th field="movieName" width="auto" formatter="formatterMovieName" align="center">片名</th>
            <th field="content" width="auto" align="center">评论内容</th>
            <th field="count" width="auto" align="center">点赞数</th>
            <th field="timestamp" width="auto" formatter="dateTransform" align="center">评论时间</th>
            <th field="authority" width="5" formatter="formatterAuthority" align="center">登录权限</th>
        </tr>
    </thead>
</table>

<!-- CRUD 菜单栏 -->
<div id="tb">
    <div style="margin-bottom: 5px;margin-top: 3px">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="s_userName" size="20" placeholder="用户名" onkeydown="if(event.keyCode==13) searchWebSite()" />
        &nbsp;
        <span class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></span> 
        &nbsp;
        <input type="text" id="s_movieName" size="20" placeholder="片 名" onkeydown="if(event.keyCode==13) searchWebSite()" />
        &nbsp;
        <span class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></span>
        &nbsp;
        <a href="javascript:searchWebSite()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜 索</a>
    </div>
</div>


<script type="text/javascript">
    function formatterUserName(value, row, index) {
        return row.user.userName;
    }

    function formatterMovieName(value, row, index) {
        return row.movie.movieName;
    }

    function formatterAuthority(value, row, index) {
        return row.user.authority;
    }

    function dateTransform(timestamp) {
        var date = new Date(timestamp);//如果date为13位不需要乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
        return Y+M+D+h+m+s;
    }

</script>

</body>