
<link rel="stylesheet" type="text/css" href="easyui/themes/metro/easyui.css"/>
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="js/user.js"></script>

<body class="easyui-layout">
            <!--数据导入区域-->
            <div style="width:350px;height:120px;margin-top: 100px;margin-left: 160px;float: left;">
                <div align="center">
                    <span>
                        <font face="宋体" size="4" color="#6b9cde">
                            电影数据导入
                        </font>
                    </span>
                </div>
                <br>
                <div>
                    <form class="form-horizontal" id="movieDataImportForm" enctype="multipart/form-data" method="post" style="padding: 12px;">
                        <div style="float: left">
                            <input type="file" id="movieDataImportFile" name="movieDataImportFile"> <!--选择待上传文件-->
                        </div>
                        <div style="float: right">
                            <input type="button" class="btn btn-primary" id="movieDataImportBtn" value="导入数据"> <!--执行上传-->
                        </div>
                    </form>
                </div>
            </div>
            <!--数据导出区域-->
            <div style="width:350px;height:120px;margin-top: 100px;margin-left: 130px;float: left">
                <div align="center">
                    <span>
                        <font face="宋体" size="4" color="#6b9cde">
                            电影数据导出
                        </font>
                    </span>
                </div>
                <br>
                <div align="center" style="margin-top: 5px">
                    <a href="javaScript:movieDataExport()" class="easyui-linkbutton" id="movieDataExportBtn">导出数据</a><!--执行导出-->
                </div>
            </div>
</body>

<script type="text/javascript">

    $(function () {
        /*
        导入操作
         */
        $("#movieDataImportBtn").click(function () {
            $("#movieDataImportForm").form("submit", {
                url: "/importMovieExcel",
                onSubmit: function() {
                    /*前端验证，再次使用EasyUI 提供的校验 class*/
                    return $(this).form("validate");
                },
                success: function(result) {
                    var result = eval('(' + result + ')');
                    /* 后台传来一个true */
                    if(result.success) {
                        $.messager.alert("系统提示", "导入数据成功");
                        $("#movieDataImportFile").val(null)
                    }else {
                        $.messager.alert("系统提示", "文档格式错误,导入数据失败");
                    }
                }
            });
        });
    });

    /*
    导出操作
     */
    function movieDataExport() {
        window.location.href = "/exportMovieExcel"
    }

</script>