<link rel="stylesheet" type="text/css" href="easyui/themes/metro/easyui.css"/>
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>

<body>
<table id="dg" class="easyui-datagrid" data-options="fitColumns:true,scrollbarSize:0" pageList="[5, 10, 15,20]" pagination="true" rownumbers="true" url="/topKHistoryHeatMovieList" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="movieId" width="auto" align="center">电影ID</th>
        <th field="movieName" width="auto" align="center">片 名</th>
        <th field="movieDate" width="auto" align="center">上映日期</th>
        <th field="moviePicture" width="auto" align="center">海报链接</th>
        <th field="typeList" width="auto" align="center">影片类型</th>
        <th field="historyHeat" width="auto" align="center">历史热度</th>
        <th field="averageRating" width="8" align="center">评 分</th>
    </tr>
    </thead>
</table>

<!-- CRUD 菜单栏 -->
<div id="tb">
    <div style="margin-top: 5px">
    </div>
    <div style="margin-bottom: 5px;margin-top: 3px">
    </div>
</div>